doctype html
html 
    head
        title Donation Form
    body 
        form(action = "/Donate", method = "POST")
            label(for = "bloodGroup") bloodGroup:
            input(name = "bloodGroup" required)
            br
            label(for = "contactNo") contactNo: 
            input(name = "contactNo" type="number" required)
            br
            label(for = "city") city: 
            input(name = "city" required)
            br
         button(type = "submit") Send Post