doctype html
html 
    head
        title Donate List
        link(rel="stylesheet", href="stylesheets/style.css")
    body
        div.donarposts-container
            each post in donarPosts
                form(action=`/donate/${post._id}`, method="get") 
                    div(class="donar_card" onclick=`this.parentNode.submit()`)
                        .bloodGroup 
                            h3 Blood Group : #{post.bloodGroup}
                        .contact 
                            p Contact No : #{post.contactNo} 
                        .city 
                            p Place : #{post.city} 