doctype html
html 
    head
        title Login page
        link(rel="stylesheet", href="stylesheets/loginstyle.css")
    body 
        include ./navbar.pug
        div.login
            h1 LOGIN
            form(action = "/users/login", method = "POST"  class="form-login")
                label(for = "username") Username:
                input(name = "username" required class="one")
                br
                label(for = "password") Password: 
                input(name = "password" type= "password" required class="two")
                br
                button(type = "submit" class="btn") Login
            form(action="/signup", method="get" class="form-login")
                div.sup Don't have an account
                    button(type="submit" class="btn") Sign Up