doctype html
html 
    head
        title Success
    body
        include ./navbar.pug
        h1 Successfully Posted
        form(action="/home", method="get")
            button(type="submit") Return to Home Page 