doctype html
html 
    head
        title Signup page
        link(rel="stylesheet", href="stylesheets/signupstyle.css")
    body
      div.signup
        form(action = "/users/signup", method = "POST")
            label(for = "fullname") Full Name:
               input(name = "fullname" required class="one")
            br
            label(for = "username") Username:
               input(name = "username" required class="one")
            br
            label(for = "age") Age:
               input(name = "age" required class="one")
            br
            label(for = "password") Password: 
               input(name = "password" type= "password" required class="one")
            br
            div.sup
               button(type = "submit" class="btn") Sign Up